@import '~bootstrap/scss/bootstrap';

#app{
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    height: 80px;
}

.dashboard{
   height: 100vh ;
   display: flex;
   width: 100%;
   padding-top: 80px;
   ul{
        li{
            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }
   }
}

.gradient-custom-2 {
    background: hsla(174, 77%, 44%, 1);
    
    background: linear-gradient(315deg, hsla(174, 77%, 44%, 1) 0%, hsla(170, 100%, 15%, 1) 100%);
    
    background: -moz-linear-gradient(315deg, hsla(174, 77%, 44%, 1) 0%, hsla(170, 100%, 15%, 1) 100%);
    
    background: -webkit-linear-gradient(315deg, hsla(174, 77%, 44%, 1) 0%, hsla(170, 100%, 15%, 1) 100%);
    
       
}

