@import '~bootstrap/scss/bootstrap';

#app{
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    height: 80px;
}

.dashboard{
   height: 100vh ;
   display: flex;
   width: 100%;
   padding-top: 80px;
}

