@import "~bootstrap/scss/bootstrap";
* {
    font-family: "Poppins", sans-serif;
}

#app {
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    height: 80px;
}

.dashboard {
    height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 80px;
    .side-bar {
        height: 100%;
        width: 250px;
    }
    main {
        width: calc(100% - 250px);
    }
    ul {
        li {
            i {
                font-size: 18px;
                margin-right: 10px;
            }
        }
    }
}

.active-t4 {
    border-right: 4px hsla(174, 77%, 44%, 1) solid;
    background-color: rgba(0, 0, 0, 0.05);

    a,
    span,
    i {
        color: hsla(174, 77%, 44%, 1);
    }
}

.gradient-custom-2 {
    background: hsla(174, 77%, 44%, 1);

    background: linear-gradient(
        315deg,
        hsla(174, 77%, 44%, 1) 0%,
        hsla(170, 100%, 15%, 1) 100%
    );

    background: -moz-linear-gradient(
        315deg,
        hsla(174, 77%, 44%, 1) 0%,
        hsla(170, 100%, 15%, 1) 100%
    );

    background: -webkit-linear-gradient(
        315deg,
        hsla(174, 77%, 44%, 1) 0%,
        hsla(170, 100%, 15%, 1) 100%
    );
}

/***********************************************************/
/*****************************  TABLET VIEW   **************************/
@media (max-width: 768px) {
    /******** NAVBAR AND DASHBOARD ***/
    .navbar {
        flex-wrap: nowrap;
        padding-inline: 10px;
        justify-content: center;
        gap: 5px;
    }

    .dashboard {
        .side-bar {
            height: 100%;
            width: 80px;
        }
        main {
            width: calc(100% - 80px);
        }
        ul {
            li {
                i {
                    font-size: 18px;
                    margin-right: 10px;
                }
                span {
                    display: none;
                }
                .log-out {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .navbar {
        h2 {
            font-size: 1.5rem;
            margin-right: 15px;
        }
    }
}


//SECTION SPONSORSHIP LIST
.sponsorship-card{
    .card-header{
        border: 1px solid #1AC6B6;
    }
    .sponsorship-card-header.active{    
        border: 3px solid #1AC6B6;
        h5{
            .btn{
                font-size: large;
                font-weight: bold;
            }
        }
    }
    .sponsorship-card-body{
        background-color: #E0F2F1;
        border-left: 3px solid #1AC6B6;
        border-right: 3px solid #1AC6B6;
        border-bottom: 3px solid #1AC6B6;
    }
}

// SECTION MESSAGES LIST
.message-card {
    .card-header {
        border: 1px solid #1AC6B6; 
    }

    .message-card-header.active {
        border: 3px solid #1AC6B6;
        h2 {
            .btn {
                font-size: large;
                font-weight: bold;
            }
        }
    }

    .message-card-body {
        background-color: #E0F2F1;
        border-left: 3px solid #1AC6B6;
        border-right: 3px solid #1AC6B6;
        border-bottom: 3px solid #1AC6B6;
        
        li{
            background-color: #E0F2F1;
            border-bottom: 1px solid #1AC6B6;
        }
    }
}